{
    "rootpath": "C:\\Users\\sanyinchen\\AppData\\Roaming",
    "destpath": "D:\\backup",
    "fileType": ".dat",
    "cycleTime": 1,
    "loop": 1,
    "blackList": [
        "Microsoft",
        "360safe",
        "Adobe",
        "aeon",
        "ATI",
        "baidu",
        "BaiduYunGuanjia",
        "BaiduYunKernel",
        "Battle.net",
        "BitcoinPlanet",
        "BITS",
        "downer",
        "dg",
        "downer",
        "DrvMgr",
        "FlashGet",
        "FlashGetBHO",
        "Google",
        "InstallPlugin",
        "JetBrains",
        "kcleaner",
        "Kingsoft",
        "kso",
        "ksoftmgr",
        "LDSGameCenter",
        "LDSGameCenterSpecLog",
        "library_dir",
        "lockhomepage",
        "Macromedia",
        "MiniUpgrade",
        "Mist",
        "navplugin",
        "npm",
        "npm-cache",
        "NuGet",
        "NVIDIA",
        "office6",
        "Proxifier",
        "Raptr",
        "shoujizhushou",
        "sjparinfo",
        "Skype",
        "Sublime Text 3",
        "TeamViewer",
        "Tencent",
        "VMware",
        "WNS",
        "wps",
        "XLGameBox",
        "YiYaZip",
        "ZcashParams"
    ]
}
