{
  "rootpath": "C:\\Users\\your computer name\\AppData\\Roaming",
  "destpath": "your backpu folder (D:\\backup)",
  "remotepath": "your server path",
  "remoteServer": "http://127.0.0.1:8991",
  "remoteSwitch": 1,
  "username": "123456",
  "passport": "123",
  "fileType": ".data",
  "cycleTime": 1,
  "key": "123456789",
  "loop": 1,
  "blackList": [
    "Microsoft",
    "360safe",
    "Adobe",
    "aeon",
    "ATI",
    "baidu",
    "BaiduYunGuanjia",
    "BaiduYunKernel",
    "Battle.net",
    "BitcoinPlanet",
    "BITS",
    "downer",
    "dg",
    "downer",
    "DrvMgr",
    "FlashGet",
    "FlashGetBHO",
    "Google",
    "InstallPlugin",
    "JetBrains",
    "kcleaner",
    "Kingsoft",
    "kso",
    "ksoftmgr",
    "LDSGameCenter",
    "LDSGameCenterSpecLog",
    "library_dir",
    "lockhomepage",
    "Macromedia",
    "MiniUpgrade",
    "Mist",
    "navplugin",
    "npm",
    "npm-cache",
    "NuGet",
    "NVIDIA",
    "office6",
    "Proxifier",
    "Raptr",
    "shoujizhushou",
    "sjparinfo",
    "Skype",
    "Sublime Text 3",
    "TeamViewer",
    "Tencent",
    "VMware",
    "WNS",
    "wps",
    "XLGameBox",
    "YiYaZip",
    "ZcashParams"
  ]
}
